<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.cmu.sei.cloudlet.client"
      android:versionCode="2"
      android:versionName="2.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	
    <application android:icon="@drawable/cloudlet_app" android:label="@string/app_name">
        <activity android:name="edu.cmu.sei.cloudlet.client.ui.NewProcessSelectionActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
            
        </activity>

        <activity android:name="edu.cmu.sei.cloudlet.client.ui.CloudletSelectionActivity" android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="edu.cmu.sei.cloudlet.client.ui.ProcessSelectionActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="edu.cmu.sei.cloudlet.client.ui.CloudletDiscoveryActivity" android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="edu.cmu.sei.cloudlet.client.synth.ui.OverlayList" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="edu.cmu.sei.cloudlet.client.synth.ui.VMSynthesisActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="edu.cmu.sei.cloudlet.client.push.ui.CloudletAppsListActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="edu.cmu.sei.cloudlet.client.caching.ui.ListServicesActivity" android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="edu.cmu.sei.cloudlet.client.push.ui.InstalledApplcationListActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="edu.cmu.sei.cloudlet.client.ondemand.ui.ODProvisioningActivity" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="edu.cmu.sei.cloudlet.client.ondemand.ui.ModulesList" android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>        
        
    </application>
</manifest>