webob==1.3.1
Pylons==1.0.1
Routes==2.1
WebTest==1.4.3
mako==1.2.2
pymongo==2.6.3
psutil==5.7.0
requests==2.20.0
netifaces==0.10.4
netaddr==0.7.14
M2Crypto==0.31.0
pybluez==0.21
libusb1==1.4.0
pycryptodome==3.8.1
adb==1.1.1
zeroconf==0.17.4
dnspython==1.12.0
