## base.html
<%namespace file="navbar.html" import="navbar"/>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/ico/favicon.ico">

        <title>Cloudlet Manager</title>

        <!-- Bootstrap core CSS -->
        <link href="/manager/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/manager/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/manager/css/theme.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>

        ${navbar()}

        <div class="container">

            <div class="header">
                <%block name="header">
                    <h1>
                        <%block name="title"/>
                    </h1>
                </%block>
            </div>

            ${next.body()}

            <div class="footer navbar-fixed-bottom">
                <%block name="footer">
                    Software Engineering Institute of Carnegie Mellon University
                </%block>
            </div>
        </div>
    </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/manager/js/jquery-1.11.0.min.js"></script>
    <script src="/manager/js/bootstrap.min.js"></script>
    <script src="/manager/js/bootstrap-dialog.min.js"></script>
    <script src="/manager/js/cloudlet_utils.js"></script>    

</html>