<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">

</%block>

<div class="panel panel-default">
  <div class="panel-body">
    <div>
        <p>
            Welcome to the Cloudlet Manager!
        </p>
        <ul>
            <li>${h.link_to('Cached Services', h.url_for(controller='services'))}</li>
            <li>${h.link_to('Service VM Instances', h.url_for(controller='instances'))}</li>
            <li>${h.link_to('Cloudlet-Ready Apps', h.url_for(controller='apps', action='list'))}</li>
        </ul>
    </div>
  </div>
</div>  
