<%namespace file="form.html" import="text"/>
<%namespace file="form.html" import="dropdown"/>
<%namespace file="form.html" import="browse"/>
<%namespace file="form.html" import="hidden"/>

<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Import Service
</%block>

<%block>
    <form id="service-form" class="form-service" method="post" action="${h.url_for('import_service')}" role="form">
        ${text(id='path', input_width=12, label=_('Service VM Path'))}
    </form>
</%block>