<%namespace file="form.html" import="text"/>
<%namespace file="form.html" import="hidden"/>
<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Running Service VM Instances
</%block>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-12">
                <form>
                    <!--text(id='remoteHost', input_width=12, label=_('Remote Host for Migration'), mandatory=True)} -->
                </form>
                <table class="table table-striped">
                    <input type="hidden" id="svm_url" value="${h.url_for(controller='instances', action='svmList')}"/>
                    ${page.instancesGrid}
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Migration modal. -->
<div class="modal fade" id="modal-migrate" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">x</button>
		        <h3>Migrate Service VM</h3>
		    </div>
		    <div class="modal-body">
		        <div class="well">
		            <form id="new-svm-form" class="form-horizontal" action="" method="post">
		            	${text(id='targetCloudet', input_width=12, label=_('Target Cloudlet'), mandatory=True)}
                        ${hidden(id='migrateUrl')}
		            </form>
		        </div>
		    </div>
		    <div class="modal-footer">
		        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
		        <a href="#" class="btn btn-primary" onclick="migrateSVM()">Migrate</a>
		    </div>
	    </div>
    </div>
</div>

<script src="${request.environ['SCRIPT_NAME']}/js/instances.js"></script>
<script src="${request.environ['SCRIPT_NAME']}/js/svm_state.js"></script>