<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Running Service VM Instances
</%block>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-bordered table-condensed">
        <input type="hidden" id="svm_url" value="${h.url_for(controller='instances', action='svmList')}"/>
        ${page.instancesGrid}
    </table>
  </div>
</div>    

<script src="/manager/js/instances.js"></script>
<script src="/manager/js/svm_state.js"></script>