<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Running Service VM Instances
</%block>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-bordered table-condensed">
        ${page.instancesGrid}
    </table>
  </div>
</div>    

<script>window.changeUrl = "${h.url_for(controller='instances', action='getLastChangestamp')}";</script>
<script src="/manager/js/instances.js"></script>