<%inherit file="base.html"/>

<%block name="header">
${parent.header()}
</%block>

<%block name="title">
    Create New Service
</%block>

<%block>

<form class="form-service" method="POST" action="${url_for('modify')}">


<table style="width:1200px">
<tr>

    <!-- GENERAL -->

    <td class="form-block">
    <h2 class="form-service-heading">General</h2>
    <table style="width:600px">

        <tr>
            <td>
                Service ID:  <br>
                <input type="text" class="input-block-level" name="serviceID">
            </td>
            <td>
                Version:     <br>
                <input type="text" name="serviceVersion">
            </td>
        </tr>

        <tr>
            <td>
                Description: <br>
                <input type="text" name="serviceDescription">
            </td>
            <td>
                Tags:        <br>
                <input type="text" name="serviceTags">
            </td>
        </tr>
        <tr>
            <td>
                Port:        <br>
                <input type="text" name="servicePort">
            </td>
        </tr>


    </table>
    </td>

    <!-- APP -->

    <td class="form-block">

        <h2 class="form-service-heading">Cloudlet Ready App</h2>
        <table style="width:600px">
            <tr>
                <td>
                    Name  <br>
                    <input type="text" class="input-block-level" name="appName"><br>
                </td>
                <td>
                    Description:     <br>
                    <input type="text" name="appDescription">
                </td>
            </tr>

            <tr>
                <td>
                    Version:     <br>
                    <input type="text" name="appVersion"><br>
                </td>
                <td>
                    Package:     <br>
                    <input type="text" name="appPackage">
                </td>
            </tr>

            <tr>
                <td>
                    Filename:     <br>
                    <input type="text" name="appFilename">
                </td>
            </tr>
        </table>
    </td>

</tr>
<tr>

    <!-- REQUIREMENT -->

    <td class="form-block">
        <h2 class="form-service-heading">Requirement</h2>
        <table style="width:600px">
            <tr>
                <td>
                    Min Memory (MB):  <br>
                    <input type="text" class="input-block-level" name="minMemory">
                </td>
            </tr>
            <tr>
                <td>
                    Ideal Memory (MB):     <br>
                    <input type="text" name="idealMem">
                </td>
            </tr>
        </table>
    </td>

    <!-- STORAGE -->
    <td class="form-block">
        <h2 class="form-service-heading">Stored Service VM</h2>
        <table style="width:600px">
            <tr>
                <td>
                    Stored VM Folder  <br>
                    <input type="text" class="input-block-level" name="VMStoredFolder">
                </td>
                <td>
                    Disk Image File:     <br>
                    <input type="text" name="VMDiskImageFile">
                </td>
            </tr>
            <tr>
                <td>
                    State Image File:     <br>
                    <input type="text" name="VMStateImageFile">
                </td>
            </tr>

        </table>
    </td>

</tr>
</table>

</form>
</%block>