<%inherit file="base.html"/>

<%block name="header">
${parent.header()}
</%block>

<%block name="title">
    Create New Service
</%block>

<%block>


<form class="form-service" method="POST" action="${url_for('modify')}" role="form">

    <!-- GENERAL -->
    <div class="panel panel-primary col-sm-6">
        <div class="panel-heading"> General </div>
        <div class="panel-body">
            <div class="form-group col-sm-12">

                <label for="serviceID"> Service ID </label>
                <input type="text" class="form-control" name="serviceID" id="serviceID">

            </div>
            <div class="form-group col-sm-12">

            <label for="serviceVersion"> Version </label>
                <input type="text" class="form-control" name="serviceVersion" id="serviceVersion">

            </div>
            <div class="form-group col-sm-12">

            <label for="serviceDescription"> Description </label>
                <input type="text" class="form-control" name="serviceDescription" id="serviceDescription">

            </div>
            <div class="form-group col-sm-12">

            <label for="serviceTags"> Tags  </label>
                <input type="text" class="form-control" name="serviceTags" id="serviceTags">

            </div>
            <div class="form-group col-sm-12">

            <label for="servicePort"> Port </label>
                <input type="text" class="form-control" name="servicePort" id="servicePort">

            </div>
        </div>
    </div>

    <!-- APP -->
    <div class="panel panel-primary col-sm-6">
        <div class="panel-heading"> Cloudlet Ready App </div>
        <div class="panel-body">
            <div class="form-group col-sm-12">

                <label for="appName"> Name </label>
                <input type="text" class="form-control" name="appName" id="appName">

            </div>
            <div class="form-group col-sm-12">

            <label for="appDescription"> Description </label>
                <input type="text" class="form-control" name="appDescription" id="appDescription">

            </div>
            <div class="form-group col-sm-12">

            <label for="appVersion"> Version </label>
                <input type="text" class="form-control" name="appVersion" id="appVersion">

            </div>
            <div class="form-group col-sm-12">

            <label for="appPackage"> Package </label>
                <input type="text" class="form-control" name="appPackage" id="appPackage">

            </div>
            <div class="form-group col-sm-12">

            <label for="appFilename"> Filename </label>
                <input type="text" class="form-control" name="appFilename" id="appFilename">

            </div>
        </div>
    </div>

    <!-- STORAGE -->
    <div class="panel panel-primary col-sm-6">
        <div class="panel-heading"> Stored Service VM </div>
        <div class="panel-body">
            <div class="form-group col-sm-12">

                <label for="vmStoredFolder"> Stored VM Folder </label>
                <input type="text" class="form-control" name="vmStoredFolder" id="vmStoredFolder">

            </div>
            <div class="form-group col-sm-12">

            <label for="vmDiskImageFile"> Disk Image File </label>
                <input type="text" class="form-control" name="vmDiskImageFile" id="vmDiskImageFile">

            </div>
            <div class="form-group col-sm-12">

                <label for="vmStateImageFile"> State Image File </label>
                <input type="text" class="form-control" name="vmStateImageFile" id="vmStateImageFile">

            </div>
        </div>
    </div>

    <!-- REQUIREMENT -->
    <div class="panel panel-primary col-sm-6">
        <div class="panel-heading"> Requirement </div>
        <div class="panel-body">
            <div class="form-group col-sm-12">

                <label for="reqMinMem"> Min Memory (MB) </label>
                <input type="text" class="form-control" name="reqMinMem" id="reqMinMem">

            </div>
            <div class="form-group col-sm-12">

                <label for="reqIdealMem"> Ideal Memory (MB) </label>
                <input type="text" class="form-control" name="reqIdealMem" id="reqIdealMem">
            </div>

        </div>
    </div>

    <div class="panel panel-primary col-sm-12">
        <div class="panel-body">
            <div class="form-group col-sm-12">
                <button type="reset"  class="btn btn-default btn-primary col-sm-offset-1 col-sm-4" name="cancelButton" id="cancelButton">Cancel</button>
                <button type="submit" class="btn btn-default btn-primary col-sm-offset-2 col-sm-4" name="submitButton" id="submitButton">Submit</button>
            </div>
        </div>
    </div>

</form>


</%block>