<%namespace file="form.html" import="text"/>
<%namespace file="form.html" import="dropdown"/>
<%namespace file="form.html" import="browse"/>
<%namespace file="form.html" import="hidden"/>

<%inherit file="base.html"/>

<%block name="header">
${parent.header()}
</%block>

<%block name="title">
    % if page.newService:
        Create New Service
    % else:
        Edit Service
    % endif
</%block>

<%block>

<form id="service-form" class="form-service" method="post" action="${h.url_for(controller='modify')}" role="form">

    <div class="row">

        <div class="container col-sm-6">

            <!-- GENERAL -->
            <div class="panel panel-info col-sm-12">
                <div class="panel-heading"> General </div>
                <div class="panel-body">
                    <input type="hidden" name="internalServiceId" id="internalServiceId" value="${page.internalServiceId}" />
                    ${text('serviceID', input_width=12, label=_('Service ID'), mandatory=True)}
                    ${text('servicePort', input_width=12, label=_('Port'), mandatory=True)}
                    ${text('serviceVersion', input_width=12, label=_('Service Version'))}
                    ${text('serviceDescription', input_width=12, label=_('Description'))}
                    ${text('serviceTags', input_width=12, label=_('Tags'))}
                    ${text('numClientsSupported', input_width=12, label=_('Maximum Concurrent Clients'))}
                    ${text('reqMinMem', input_width=12, label=_('Min Memory (MB)'))}
                    ${text('reqIdealMem', input_width=12, label=_('Ideal Memory (MB)'))}                    
                </div>
            </div>
            
        </div>        
        
        <div class="container col-sm-6">
        
            <!-- STORAGE -->
            <div class="panel panel-info col-sm-12">
                <div class="panel-heading"> VM Image</div>
                <div class="panel-body">
                    ${text('vmStoredFolder', input_width=12, label=_('VM Image Folder'), disabled=True)}
                    ${text('vmDiskImageFile', input_width=12, label=_('Disk Image File'), disabled=True)}
                    ${text('vmStateImageFile', input_width=12, label=_('State Image File'), disabled=True)}
                    ${hidden('vmDiskImageFileValue')}
                    ${hidden('vmStateImageFileValue')}
                    ${hidden('svmInstanceId')}
                    
            	    <button type="button" class="btn btn-primary" id="new-svm-button" data-toggle="modal" data-target="#modal-new-servicevm" ${'style="display:none;"' if not page.newService else ''}>Create VM Image</button>
              	    <button type="button" class="btn btn-primary" id="modify-svm-button" onclick="startInstance('${page.startInstanceURL}')" ${'style="display:none;"' if page.newService else ''}>Edit VM Image</button>

              	    <button type="button" class="btn btn-primary" id="save-svm-button" onclick="persistInstance('${page.saveInstanceURL}')" style="display:none;">Save from SVM</button>
              	    <button type="button" class="btn btn-primary" id="discard-svm-button" onclick="discardInstance('${page.stopInstanceURL}')" style="display:none;">Discard SVM</button>
              	    <button type="button" class="btn btn-primary" id="vnc-button" onclick="openEditVNC('${page.openVNCUrl}')" style="display:none;">Open VNC (on server)</button>
                </div>
            </div>           
            
        </div>
    </div>        
    
    <div class="row">
        <div class="panel panel-primary col-sm-12">
            <div class="panel-body">
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-default col-sm-offset-1 col-sm-4" name="cancelButton" id="cancelButton" onclick="history.back()">Cancel</button>
                    <button type="button" class="btn btn-primary col-sm-offset-2 col-sm-4" name="submitButton" id="submitButton" onClick="validateSubmission();">Save</button>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- Create New VM Image modal. -->
<div class="modal fade" id="modal-new-servicevm" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">x</button>
		        <h3>Create New Service VM</h3>
		    </div>
		    <div class="modal-body">
		        <div class="well">
		            <form id="new-svm-form" class="form-horizontal" action="${page.createSVMURL}" method="post">
		            	${text(id='sourceDiskImage', input_width=12, label=_('Source Disk Image Path'), mandatory=True)}
		                ${dropdown(id='osType', options={'Linux':'Linux','Windows':'Windows'}, input_width=12, label=_('OS Type'))}
		            </form>
		        </div>
		    </div>
		    <div class="modal-footer">
		        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
		        <a href="#" class="btn btn-primary new-svm-action" onclick="createSVM()">Create</a>
		    </div>
	    </div>
    </div>
</div>

<script src="${request.environ['SCRIPT_NAME']}/js/modify.js"></script>

</%block>