<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Running Service VM Instances
</%block>

<table class="table table-striped table-bordered table-condensed">
    ${page.instancesGrid}
</table>

<script>
    // Function to stop a Service VM through Ajax.
    function stopSVM(stopUrl)
    {
        // Show progress bar.
        var dialog = WaitDialog("Stopping Service VM Instance");
        dialog.show();
        
        // Send the ajax request to start the service vm.
        $.ajax({
          url: stopUrl,
          dataType: 'json',
          success: function( resp ) {
            // Hide the progress bar and reload the page to show the changes.
            dialog.hide();
            window.top.location=window.top.location;
          },
          error: function( req, status, err ) {
            dialog.hide();
            console.log( 'something went wrong', status, err );
          }
        });
    }    
</script>