<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Cached Services
</%block>

<table class="table table-striped table-bordered table-condensed">
    ${c.myGrid}
</table>

<script>
    // Function to start a Service VM through Ajax, and redirect to the given page.
    function startSVM(startUrl, redirectUrl)
    {
        // Show progress bar.
        var dialog = WaitDialog("Starting Service VM");
        dialog.show();
        
        // Send the ajax request to start the service vm.
        $.ajax({
          url: startUrl,
          dataType: 'json',
          success: function( resp ) {
            window.location.href = redirectUrl;
          },
          error: function( req, status, err ) {
            console.log( 'something went wrong', status, err );
          }
        });
    }    
</script>
