<%inherit file="base.html"/>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="title">
    Services
</%block>



<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-12">
                <a class="btn btn-large btn-success" href="${h.url_for(controller='modify')}">Create New Service</a>
                <button class="btn btn-large btn-success" data-toggle="modal" data-target="#modal-import-servicevm">Import a Service</button>
                <br><br>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Service ID</th>
                        <th>Port</th>
                        <th>Service VMs</th>
                        <th>Service Actions</th>
                    </tr>
                    % for service in page.services:
                    <%
                        svmListURL       = h.url_for(controller='instances')
                        startInstanceURL = h.url_for(controller='instances', action='startInstance', id=service.service_id)
                        listOnClick      = "window.location.href='" + svmListURL + "';"
                        startOnClick     = "startSVM('" + startInstanceURL + "', '" + svmListURL + "');"

                    %>
                    <tr>
                        <td>${service.description}</td>
                        <td>${service.service_id}</td>
                        <td>${service.port}</td>
                        <td>
                            <button class="btn btn-primary" onclick="${listOnClick}"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="Service VMs List">
                                <span class="glyphicon glyphicon-list" style="color: white"></span>
                            </button>
                            <button class="btn btn-success" onclick="${startOnClick}"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="New Service VM">
                                <span class="glyphicon glyphicon-plus" style="color: white"></span>
                            </button>
                        </td>
                        <td>

                        </td>
                    </tr>
                    % endfor
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-import-servicevm" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Import Service VM</h3>
            </div>
            <div class="modal-body">
                <div class="well">
                    <form id="new-svm-form" class="form-horizontal" action="" method="">
                        <label for="csvm_path" class="control-label">Exported Cloudlet Service VM (.csvm)</label>
                        <div class="">
                            <input type="text" class="form-control" placeholder="Exported Cloudlet Service VM (.csvm)" name="csvm_path" id="csvm_path"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary new-svm-action" onclick="import_svm('${h.url_for('import_service')}', $('#csvm_path').val());">Import</a>
            </div>
        </div>
    </div>
</div>

<script src="${request.environ['SCRIPT_NAME']}/js/services.js"></script>
